
/*
body {
    background-color: #e2ffe8;
}
*/
@media (min-width: 1200px){
    .container {
        max-width: 1000px;
    }
}



.name {
    float:right;
    color:#27aae1;
}

.axis {
    fill: none;
    stroke: #AAA;
    stroke-width: 1px;
}

text {
    stroke: none;
    fill: #666666;
    font-size: .9em;
    font-family:"Helvetica Neue"
}
.label {
    fill: #414241;
}
/*
.node {
    cursor:pointer;
}
.dot {
    opacity: .7;
    cursor: pointer;
}
*/
.regression {
    stroke-width: 1px;
    stroke: black;

}

body {

    font-size: .9rem;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {

    stroke: #8e8e8e;

}
#table-location {

    margin-left: 0;
    margin-right: auto;
    width: 100%;
}


.container{
    background-color: #e3ebf7;
    border-radius:10px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 50px;
}
#title{

    margin-top: 70px;
    padding-top: 30px;
    border-radius: 10px 10px 0px 0px;
}
#jumbo{
    padding-top:30px;
}
#inputText{
    font-size: 15px;
}

#buttonSubmit{
    background-color: #1772de;
    border-color: #365877;
}

#leftSide
{
    margin-top: 15px;
}


table{
    margin-top: 10px;
}



thead tr {
    background-color: #1586d242;
    visibility: hidden;
}

tbody tr {
    background-color: white;
}



#titleText{
    color: #0d11a2;
    font-weight: bold;
}
#titleText2{
    font-style: italic !important;
    font: 15px sans-serif;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
}

.progress{

    visibility: hidden;
    height: 0.3rem;
}
.progress-bar{
    position: fixed;
    height: 0.3rem;
    margin-top: 2px;
}
.popover-title { display: none; }

.alert-warning{
    visibility: hidden;

}
